.layout {
    background-color: grey;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 80px 1fr 60px;
    grid-template-areas: "header header"
        "menu content"
        "footer footer";
    gap: 15px;
    place-items: center;
    text-align: center;
    height: 350px;
    padding: 1%;
}

.header {
    background-color: gainsboro;
    grid-area: header;
    width: 100%;
    height: 100%;
}

.menu {
    background-color: ghostwhite;
    grid-area: menu;
    width: 100%;
    height: 100%;
}

.content {
    background-color: lightgrey;
    grid-area: content;
    width: 100%;
    height: 100%;
}

.footer {
    background-color: darkgrey;
    grid-area: footer;
    width: 100%;
    height: 100%;
}