.plan p {
  font-size: 2.625rem;
}
.basic {
  padding: 3em;
  text-align: center;
  box-shadow: 0 1em 1em ;
  background-color: grey;
  border: 0.5em solid black;
}
.pro {
  padding: 3em;
  text-align: center;
  box-shadow: 0 1em 1em ;
  background-color: purple;
  border: 1em solid black;
}
.enterprise {
  padding: 3em;
  text-align: center;
  box-shadow: 0 1em 1em ;
  background-color: yellow;
  border: 1.5em solid black;
}
