//2. Botones Reutilizables con Mixin
//Dado Ej2.html crea botones con estilos uniformes usando mixin y
//pseudoclases.
//Realiza los siguientes apartados:
//1. Crear las variables: $btn-padding, $btn-radius, $btn-primary, $btn-secondary, $btn-success.
$btn-padding: 15px;
$btn-radius: 2em;
$btn-primary: orange;
$btn-secondary: lightblue;
$btn-success: lightgreen;

//2. Crear mixin button-style($bg, $color) que incluya padding,border-radius, cursor y background-color.
@mixin button-style($bg, $color) {
    padding: $btn-padding;
    border-radius: $btn-radius;
    cursor: pointer;
    color: $color;
    border: none;
    background-color: $bg;

    //3. Usar pseudoclase :hover dentro del mixin para cambiar el color al pasar el ratón.
    &:hover {
        background-color: darken($bg,10%);
    }
}

//4. Aplicar el mixin en las clases .btn-primary, .btn-secondary y .btn-success.
.btn-primary {
    @include button-style($btn-primary,black );
}

.btn-secondary {
    @include button-style($btn-secondary,black );
}

.btn-success {
    @include button-style($btn-success,black );

}