services:
  wordpress:
    image: wordpress:6.4.3-php8.3-apache
    ports:
      - "${WORDPRESS_PORT}:80"
    environment:
      WORDPRESS_DB_HOST: ${WORDPRESS_DB_HOST}
      WORDPRESS_DB_NAME: ${WORDPRESS_DB_NAME}
      WORDPRESS_DB_USER: ${WORDPRESS_DB_USER}
      WORDPRESS_DB_PASSWORD: ${WORDPRESS_DB_PASSWORD}
    volumes:
      - ./wp_data:/var/www/html/wp-content
    depends_on:
      - mariadb
    networks:
      - wp_network
    restart: always

    deploy:
      resources:
        limits:
          cpus: "1"
          memory: 512M

    healthcheck:
      test: ["CMD-SHELL", "apachectl -t"]
      interval: 30s
      timeout: 10s
      retries: 3

  mariadb:
    image: mariadb:10.11
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - ./mariadb_data:/var/lib/mysql
    networks:
      - wp_network
    restart: always

    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 512M

    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 30s
      timeout: 3s
      retries: 3

networks:
  wp_network:
    driver: bridge
