.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    width: 100%;
    margin: 0;
    height: 100%;
    justify-items: center;
    align-items: center;
}

.card {

    background-color: lightgray;
    border-radius: 2em;
    padding: 2em;
    box-shadow: 1em 1em;
}

.card button {
    background-color: gray;
    color: white;
    border-radius: 1em;
    border: dashed 2px;
}

.card button:hover {
    background-color: white;
    color: black;
}