.caja-transicion {
    /*Tama침o inicial*/
    width: 500px;
    height: 700px;
    /*Transici칩n*/    

    /* Propiedades que cambian */
    transition-property: width, height, background-color;

    /* Tiempo de transici칩n */
    transition-duration: 2s;
    /*lineal*/
    transition-timing-function: linear;
    /*Retraso*/
    transition-delay: 1s;
}

/*Al pasar el rat칩n cambiar ancho y color fondo*/
.caja-transicion:hover {
    background-color: brown;
    width: 600px;

}