$ancho: 300px;
$pading: 20px;
$border: 1px solid #ddd;
$mapa: (
    "primary":rgb(255, 249, 223),
    "success" :rgb(233, 255, 233),
    "danger" :rgb(255, 212, 212)
);
@mixin color($color){
    background-color: map-get($mapa, $color);
}
.product-card{
    width: $ancho;
    padding: $pading;
    border: $border;
}
.price{
    font-size: $pading;
    color: #198754;
}
.btn-primary{
    &:hover{
        @include color("primary");
    }
    
}