/*1. Tarjeta de perfil. (1,5 puntos)*/
/*Una empresa solicita el diseño de una tarjeta de perfil para mostrar información de u
usuarios en su web corporativa. Dado el Ej1.html realiza las siguientes tareas:*/
/*1. Aplica una fuente base a toda la página usando el selector universal.*/
* {
    font-family: Arial, Helvetica, sans-serif;
}

/*2. La tarjeta .card debe tener:*/
.card {
    /*a. Ancho de 300px.*/
    width: 300px;
    /*b. Padding de 20px.*/
    padding: 20px;
    /*c. Margen automático para centrar horizontalmente.*/
    margin: auto;
    /*d. Borde sólido de 2px.*/
    border: solid 2px black;
    /*e. Esquinas redondeadas de 10px.*/
    border-radius: 10px;
    /*extra*/
    background-color: azure;
}


/*3. El nombre (h2) debe:*/
h2 {
    /*a. Estar centrado.*/
    text-align: center;
    /*b. Usar text-transform: uppercase.*/
    text-transform:uppercase;
}

/*4. El párrafo con clase .role debe:*/
.role{
    /*a. Tener el texto en cursiva.*/
    font-style: italic;
    /*b. Usar un color distinto al resto de párrafos.*/
    color: brown;
}